<section>
  <div class="page-header section-height-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h4 class="font-weight-bolder"><%= t('.forgot_your_password') %></h4>
            </div>
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= bootstrap_devise_error_messages! %>
                <div class="mb-3 form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-lg', placeholder: "Email" %>
                </div>
                <div class="text-center form-group">
                  <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 ' %>
                </div>
              <% end %>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                Cancel?
                <a href="javascript:;" class="text-primary text-gradient font-weight-bold"><%= render 'devise/shared/links' %></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
          <div class="position-relative h-100 m-3 px-7 w-90 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('https://64.media.tumblr.com/21bb0c7d9c1c4708ed07de39fc16acf8/885d07232570a39b-6d/s1280x1920/a2eab50d38134f03fb1d431ae5715c6dffcb3682.png'); background-size: cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
